@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('../header.css');
@import url('../Home/homeCard.css');
@import url('../footer.css');

.container{
    display:grid;
    grid-template-areas: 
    "header header header header header header"
    "card card card card card card"
    "footer footer footer footer footer footer";
}

.link-color{
    color: blue;
    text-decoration: none;
}

@media screen and (min-width: 701px) and (max-width: 1050px) {
    .blog-card {
        grid-template-columns: 1fr 1fr;
        }
        .blog-header{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
    
}

@media screen and (max-width: 700px){
    .blog-card {
    grid-template-columns: 1fr;
    }
    .blog-header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
}