.blog-card{
    display: grid;
    grid-area: card;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog{ 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border: 2px dotted black;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.blog:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.world{
    font-size: 1.3em;
    font-weight: bold;
    color: red;
}

.title{
    margin: 0;
}

.date{
    margin: 0;
    color: gray;
}

.continue{
    margin: 0;
}

.blog-button{
    border-radius: 5px;
    background-color: black;
}

.button-link{
    color: white;
    text-decoration: none;
}